textarea {
    height: 50px;
}

.edit {
    color: #949494 !important;
    cursor: pointer;
    float: right;
}
.navbar {
    border-radius: 10px;
}

.section {
    border: 1px solid #F1F1F1;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
}

.user_section {
    border: 1px solid #F1F1F1;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F1F1F1;
}

#response {
    display: none;
}

.post {
    border: 1px solid #F1F1F1;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s ease;
}

.user {
    font-weight: bold;
}

.date {
    font-style: italic;
    font-size: 12px;
}

.like {
    color: #767676;
    border:1px solid #767676;
    border-radius: 10px;
}

.text_edit {
    margin: 5px 0 5px 0;
}


.noto-emoji {
    font-family: "Noto Emoji", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
  }